@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  color: #333;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

#wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

#header {
  width: 200px;
  background-color: #FFF;
}

#header .logo {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .logo a {
  display: block;
  font-size: 26px;
  margin-top: 5px;
  color: #ffa01b;
}

#header .menu {
  margin-bottom: 30px;
  padding: 0 20px;
}

#header .menu>ul>li>a {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  display: inline-block;
  background-color: #ffa01b;
  color: #fff;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

#header .menu>ul>li:hover>a {
  font-weight: bold;
}

#header .menu>ul>li:last-child a {
  border-bottom: none;
}

#header .menu>ul>li>ul {
  display: none;
  background-color: #fff2df;
  margin-bottom: 10px;
  border-radius: 15px;
}

#header .menu>ul>li>ul>li>a {
  padding: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#header .menu>ul>li>ul>li>a:hover {
  font-weight: bold;
  color: #ffa01b;
}

#content {
  width: calc(100% - 200px);
  display: flex;
  flex-wrap: wrap;
}

#content .slide {
  width: calc(100% - 230px);
  height: 400px;
  overflow: hidden;
}

#content .slide .slide-wrap {
  width: 400%;
  height: 100%;
  display: flex;
  background-color: red;
}

#content .slide .slide-wrap .slider {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content .slide .slide-wrap .slider .text::before {
  width: 300px;
  height: 300px;
  background: #ffa01b;
  opacity: 0.5;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

#content .slide .slide-wrap .slider .text {
  text-align: center;
  z-index: 1;
}

#content .slide .slide-wrap .slider .text h1,
#content .slide .slide-wrap .slider .text p {
  color: #fff;
}

#content .slide .slide-wrap .slider.s1 {
  background-image: url(../images/slider01.jpg);
}

#content .slide .slide-wrap .slider.s2 {
  background-image: url(../images/slider02.jpg);
}

#content .slide .slide-wrap .slider.s3 {
  background-image: url(../images/slider03.jpg);
}

#content .banner {
  width: 230px;
  height: 400px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #fff2df;
}

#content .banner .banner-img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: #ffa01b;
}

#content .banner .banner-img img {
  width: 300%;
  opacity: .8;
}

#content .banner p {
  text-align: center;
  margin-top: 10px;
}

#content .banner a {
  display: inline-block;
  text-align: center;
  background-color: #ffa01b;
  color: #fff;
  border-radius: 15px;
  padding: 10px 20px;
  margin-top: 20px;
}

#content .board {
  width: 100%;
  height: 250px;
  display: flex;
}

#content .board .notice,
#content .board .gallery {
  width: 50%;
  padding: 20px;
}

#content .board .notice .title,
#content .board .gallery .title {
  margin-bottom: 20px;
  background-color: #ffa01b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
}

#content .board .notice ul li {
  width: 100%;
  padding: 8px;
  position: relative;
}

#content .board .notice ul li a {
  width: 80%;
  display: inline-block;
  position: relative;
  padding-left: 10px;
}

#content .board .notice ul li a::before {
  content: '';
  width: 6px;
  height: 6px;
  background-color: #ffa01b;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  top: 5px;
}

#content .board .notice ul li a:hover {
  text-decoration: underline;
}

#content .board .notice ul li span {
  width: 15%;
  display: inline-block;
  text-align: right;
}

#content .board .gallery ul {
  display: flex;
}

#content .board .gallery ul li {
  padding: 10px;
  font-weight: bold;
}

#content .board .gallery ul li:hover {
  text-decoration: underline;
}

#content .board .gallery ul li .image-wrap {
  border-radius: 10px;
  width: 150px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
}

#content .board .gallery ul li .image-wrap img {
  width: 150px;
  height: 100px;
  object-fit: cover;
}

#footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
}

#footer .footer-logo {
  width: 200px;
  font-size: 20px;
  text-align: center;
}

#footer .site {
  margin: 10px;
  margin-right: 30px;
}

#footer .site select {
  padding: 10px;
  width: 150px;
}


#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#popup .box {
  width: 400px;
  height: 500px;
  background: #fff;
  padding: 30px;
  position: relative;
  border-radius: 20px;
}

#popup .box .title {
  margin-bottom: 20px;
}

#popup .box .popup-close {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #ffa01b;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 15px;
}